.swiper-slide-bg {
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}
.swiper-slide-bg {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: -1;
	top: 0;
	left: 0;
}

.download-text{
    float: left;
    margin: initial;
    width:50%; 
    vertical-align: middle;
    padding: 5px;
}

.download-text h1{
    color:black;
	font-size: 2.5rem;
    letter-spacing: 2px;
    text-align: left;
	text-transform: uppercase;
	font-weight: 700;
	line-height: 1;
    margin-top: 20px;
    max-width: 800px;
	left: 0;
	right: 0;
}

.mobile-icon{
    float: right;
    padding-right: 6%;
    padding-top: 6%;
}

.download-text .play-store-icon{
    padding-left: 10%;
    padding-top: 3%;
}

a {
    color: #fe6b3f;
    background-color: transparent;
    text-decoration: none;
  }

  a:hover {
    color: #62bbc1;
    background-color: transparent;
    text-decoration: underline;
  }