.header, .footer{
    width: 100%;
    position: fixed;        
    background: #fff;
    padding: 10px 0;
    color: #fff;
}
.header{
    top: 0;
}
.footer{
    color: black !important; 
    bottom: 0;
    text-align: center;
}

.body{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
}

.boxed {
    padding: 8px 40px;
    box-sizing: border-box;
    border-radius: 8px;
    background: #FE6B3F;
    text-align: center;
    color: #fff;
    cursor: pointer;
    font-size: 22px;
    line-height: 32px;
    display: inline-block;
    margin-top: 12px;
    text-transform: uppercase;
    font-family: "Open Sans", "Helvetica", "Arial", sans-serif;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .boxed a{
    color: #fff;
    padding: 7px 25px;
    display: inline-block;
}
#contact-us{
    float: right;
    padding-right: 80px;
    color: #FE6B3F;
    text-transform: uppercase;
    font-family: "Open Sans", "Helvetica", "Arial", sans-serif;
    font-size: 18px;
    font-weight: bold;
    align-items: center;
}

.footer p{
    font-family: "Open Sans", "Helvetica", "Arial", sans-serif;
    color: black;
}
 a {
    color: black;
    background-color: transparent;
    text-decoration: none;
  }
  hr{
    height: 1px;
    width: 100%;
    border: none;
    background: #ededf4;
  }

  #already-installed{
    position: absolute;
    padding: 8px 40px;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    align-items: center;
    text-align: center;
  }
  #already-installed a{
    color: blue;
    background-color: transparent;
    align-items: center;
    text-align: center;
  }

/* .swiper-slide-bg {
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
    position: absolute;
	width: 100%;
	height: 100%;
	z-index: -1;
	top: 0;
	left: 0;
}

.download-text{
    float: left;
    margin: initial;
    width:50%; 
    vertical-align: middle;
    padding: 5px;
}

.download-text h1{
    color:black;
	font-size: 2.5rem;
    letter-spacing: 2px;
    text-align: left;
	text-transform: uppercase;
	font-weight: 700;
	line-height: 1;
    margin-top: 20px;
    max-width: 800px;
	left: 0;
	right: 0;
}

.mobile-icon{
    float: right;
    padding-right: 6%;
    padding-top: 6%;
}

.download-text .play-store-icon{
    padding-left: 10%;
    padding-top: 3%;
}

a {
    color: #fe6b3f;
    background-color: transparent;
    text-decoration: none;
  }

  a:hover {
    color: #62bbc1;
    background-color: transparent;
    text-decoration: underline;
  } */

  